<section class="hero is-success is-fullheight">
  <!-- Hero header: will stick at the top -->
  <div class="hero-head">
    <header class="nav">
      <div class="container">
        <div class="nav-left">
          <a class="nav-item">
            <img src="assets/img/logo-mark.png" alt="Logo">
          </a>
        </div>
        <span class="nav-toggle" (click)="toggleNav = !toggleNav;" [ngClass]="{'is-active':toggleNav}">
          <span></span>
          <span></span>
          <span></span>
        </span>
        <div class="nav-right nav-menu" [ngClass]="{'is-active':toggleNav}">
          <span class="nav-item">
            <a class="button">
              <span class="icon">
                <i class="fa fa-map-marker"></i>
              </span>
              <span>LOCATION</span>
            </a>
          </span>
          <span class="nav-item">
            <a class="button">
              <span> LOGIN / SIGNUP</span>
            </a>
          </span>
        </div>
      </div>
    </header>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="overlay"></div>

					<video autoplay loop muted class="headervid">
						<source src="assets/vid/bg.mp4" type="video/mp4" />
						<source src="assets/vid/bg.ogg" type="video/ogg" />
						<p>Your browser doesn't support video</p>
					</video>
    <div class="container has-text-centered">
      <div class="parent"><img src="assets/img/bg.png" /></div>
      <br/>
      <div class="field has-addons has-addons-centered">
      <p class="control has-icons-left">
        <input class="input" type="text" placeholder="Search musicians, cafes, pubs...">
        <span class="icon is-small is-left">
          <i class="fa fa-search"></i>
        </span>
      </p>
      <p class="control">
        <span class="select">
          <select>
            <option>MUSICIANS</option>
            <option>CAFES</option>
            <option>RESTAURANTS</option>
          </select>
        </span>
      </p>
    </div>
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <!--<div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li class="is-active"><a>Overview</a></li>
          <li><a>Modifiers</a></li>
          <li><a>Grid</a></li>
          <li><a>Elements</a></li>
          <li><a>Components</a></li>
          <li><a>Layout</a></li>
        </ul>
      </div>
    </nav>
  </div>-->
</section>
<nav class="nav has-shadow initial-header" [ngClass]= "{'page-scroll-header': isScrolled}">
  
  <div class="container">
    <div class="nav-left">
      <a class="nav-item is-hidden-desktop">
        <img src="assets/img/logo-mark.png" alt="PlugInBaby logo">
      </a>
      <a class="nav-item is-hidden-mobile">
        <div class="field has-addons has-addons-centered">
          <p class="control has-icons-left">
            <input class="input" type="text" placeholder="Search musicians, cafes, pubs...">
            <span class="icon is-small is-left">
              <i class="fa fa-search"></i>
            </span>
          </p>
          <p class="control">
            <span class="select">
              <select>
                <option>MUSICIANS</option>
                <option>CAFES</option>
                <option>RESTAURANTS</option>
              </select>
            </span>
          </p>
        </div>
      </a>
    </div>
    <div class="nav-center">
      <a class="nav-item">
        <img src="assets/img/logo.png" alt="PlugInBaby logo">
      </a>
    </div>
    <span class="nav-toggle" (click)="toggleNav = !toggleNav;" [ngClass]="{'is-active':toggleNav}">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right nav-menu" [ngClass]="{'is-active':toggleNav}">
      <span class="nav-item">
      <a class="button">
              <span class="icon">
                <i class="fa fa-map-marker"></i>
              </span>
              <span>LOCATION</span>
      </a>
      </span>
      <span class="nav-item">
      <a class="button">
              <span> LOGIN / SIGNUP</span>
      </a>
      </span>
    </div>
  </div>
</nav>
<div class="columns">
  <div class="column is-4">
    <div class="block">
      <div class="columns is-mobile"> 
        <div class="column is-7">
          <p class="notification title is-4">
            OPENINGS
          </p>
        </div>
        <div class="column is-5 button-pad">
          <div class="notification">
            <p class="control">
              <span class="select">
                <select>
                  <option class="title is-6" hidden>SORT BY</option>
                  <option class="title is-6">NEWEST</option>
                  <option>OLDEST</option>
                  <option>POPULAR</option>
                </select>
              </span>
            </p>
          </div>
        </div>
      </div>
   </div>
    <div class="columns is-mobile" > 
        <div class="column is-two-thirds">
          <p class="notification">
            <ul *ngFor="let job of jobOpening"><li>{{job.eventName}}</li></ul>
            
          </p>
        </div>
        <div class="column">
          <p class="notification is-warning">Auto</p>
        </div>
      </div>
   
  </div>
  <div class="column auto">
    <div class="notification">
Lorem ipsum doler siut Lorem ipsum doler siut Lorem ipsum doler siut Lorem ipsum doler siut Lorem
   Lorem ipsum doler siut Lorem ipsum doler siut Lorem ipsum doler siut Lorem ipsum doler siut Lorem
   Lorem ipsum doler siut Lorem ipsum doler siut Lorem ipsum doler siut Lorem ipsum doler siut Lorem
   Lorem ipsum doler siut Lorem ipsum doler siut Lorem ipsum doler siut Lorem ipsum doler siut Lorem
   Lorem ipsum doler siut Lorem ipsum doler siut Lorem ipsum doler siut Lorem ipsum doler siut Lorem
   Lorem ipsum doler siut Lorem ipsum doler siut Lorem ipsum doler siut Lorem ipsum doler siut Lorem
   Lorem ipsum doler siut Lorem ipsum doler siut Lorem ipsum doler siut Lorem ipsum doler siut Lorem
   Lorem ipsum doler siut Lorem ipsum doler siut Lorem ipsum doler siut Lorem ipsum doler siut Lorem
   Lorem ipsum doler siut Lorem ipsum doler siut Lorem ipsum doler siut Lorem ipsum doler siut Lorem
   Lorem ipsum doler siut Lorem ipsum doler siut Lorem ipsum doler siut Lorem ipsum doler siut Lorem
   Lorem ipsum doler siut Lorem ipsum doler siut Lorem ipsum doler siut Lorem ipsum doler siut Lorem
   Lorem ipsum doler siut Lorem ipsum doler siut Lorem ipsum doler siut Lorem ipsum doler siut Lorem
   Lorem ipsum doler siut Lorem ipsum doler siut Lorem ipsum doler siut Lorem ipsum doler siut Lorem
    </div>
    
  </div>
</div>
